<div class="toast-container position-fixed top-0 end-0 pe-4 pt-5 mt-3">
  {% for message in messages %}
  <div id="liveToast" class="toast bg-body text-body" role="alert" aria-live="assertive" aria-atomic="true">

    {% if message.tags == 'error' %}
    <div class="toast-header px-3 text-bg-danger">
      <strong>
        <i class="fa-solid fa-circle-exclamation me-1"></i> Failed
      </strong>
    </div>

    {% elif message.tags == 'warning' %}
    <div class="toast-header px-3 text-bg-warning">
      <strong>
        <i class="fa-solid fa-triangle-exclamation me-1"></i> Warning
      </strong>
    </div>

    {% else %}
    <div class="toast-header px-3 text-bg-primary">
      <strong>
        <i class="fa-solid fa-circle-check me-1"></i> Successfully
      </strong>
    </div>
    {% endif %}

    <div class="toast-body py-3 px-3">
      {{ message|safe }}
    </div>
  </div>
  {% endfor %}
</div>
