{% extends "base.html" %}

{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block navbar %}
{% include "components/navbar.html" with path='user-profile' %}
{% endblock navbar %}

{% block main %}
<div class="login-container container">
  <div class="mb-4">
    <a href="{% url 'user-profile' %}" class="btn btn-outline-success">
      <i class="fa-solid fa-arrow-left me-1"></i> Back to Profile
    </a>
  </div>

  <div class="border rounded p-4 bg-body shadow">
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="currentPasswordInput" class="form-label">Current password</label>
        <input type="password" class="form-control" id="currentPasswordInput" name="current_password" required
          value="{{ form.current_password.value|default_if_none:'' }}">
        {% include 'components/field_error.html' with current_form=form field_name='current_password' %}
      </div>

      <div class="mb-3">
        <label for="newPasswordInput" class="form-label">New password</label>
        <input type="password" class="form-control" id="newPasswordInput" name="new_password" required
          value="{{ form.new_password.value|default_if_none:'' }}">
        {% include 'components/field_error.html' with current_form=form field_name='new_password' %}
      </div>

      <div class="mb-4">
        <label for="confirmNewPasswordInput" class="form-label">Confirm new password</label>
        <input type="password" class="form-control" id="confirmNewPasswordInput" name="confirm_new_password" required
          value="{{ form.confirm_new_password.value|default_if_none:'' }}">
        {% include 'components/field_error.html' with current_form=form field_name='confirm_new_password' %}
      </div>

      <div>
        <button type="submit" class="btn btn-outline-primary">Change Password</button>
      </div>
    </form>
  </div>
</div>
{% endblock main %}

{% block style %}
<style>
  .login-container {
    max-width: 40rem;
  }
</style>
{% endblock style %}

{% block script %}
<script>
</script>
{% endblock script %}
