{% extends "base.html" %}

{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block navbar %}
{% include "components/navbar.html" with path='user-profile' %}
{% endblock navbar %}

{% block main %}
<div class="login-container container">
  <form method="post" action="{% url 'auth-logout' %}" class="text-end mb-4">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">
      <i class="fa-solid fa-right-from-bracket me-1"></i> Logout
    </button>
  </form>

  <div class="border rounded p-4 bg-body shadow">
    <div class="d-flex align-items-end">
      <div class="me-4">
        <img
          src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'user/img/default-avatar.png' %}{% endif %}"
          alt="Default Avatar" id="avatarProfile" class="rounded-circle border profile-avatar-img">
      </div>

      <form method="post" action="{% url 'user-avatar' %}" class="pb-2" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-2">
          <label for="avatarFile" class="form-label text-decoration-underline" role="button">
            Click here to select new avatar...
          </label>
          <input class="d-none" type="file" id="avatarFile" name="avatar">
        </div>
        <div>
          <button type="submit" class="btn btn-outline-secondary">Change avatar</button>
        </div>
      </form>
    </div>

    <hr>

    <div class="mt-4">
      <h5 class="mb-3">
        <i class="fa-solid fa-address-card me-1"></i> User information
      </h5>

      <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="userEmailInput" class="form-label">Email address</label>
          <div class="input-group">
            <input type="email" class="form-control" id="userEmailInput" aria-describedby="emailHelp" name="email"
              value="{{ form.email.value|default_if_none:'' }}">
            {% if user.is_email_verified %}
            <span class="input-group-text px-3 bg-body"><i class="fa-solid fa-check"></i></span>
            {% endif %}
          </div>
          {% if not user.is_email_verified %}
          <div class="text-end">
            <a href="#" class="text-warning-emphasis">
              <i class="fa-solid fa-triangle-exclamation"></i> Email has not been verified, verify it now...
            </a>
          </div>
          {% endif %}
          {% include 'components/field_error.html' with current_form=form field_name='email' %}
        </div>

        <div class="row mb-4">
          <div class="col">
            <label for="userLastNameInput" class="form-label">Last name</label>
            <input type="text" class="form-control" id="userLastNameInput" name="last_name"
              value="{{ form.last_name.value|default_if_none:'' }}">
            {% include 'components/field_error.html' with current_form=form field_name='last_name' %}
          </div>
          <div class="col">
            <label for="userFirstNameInput" class="form-label">First name</label>
            <input type="text" class="form-control" id="userFirstNameInput" name="first_name"
              value="{{ form.first_name.value|default_if_none:'' }}">
            {% include 'components/field_error.html' with current_form=form field_name='first_name' %}
          </div>
        </div>

        <div>
          <button class="btn btn-outline-primary" type="submit">Update information</button>
        </div>
      </form>
    </div>

    <hr>

    <div class="mt-4">
      <h5 class="mb-3">
        <i class="fa-solid fa-shield me-1"></i> Security
      </h5>
      <form method="post">
        {% csrf_token %}

        <div class="mb-3 row">
          <div class="col">
            The password was changed <strong>{{ user.get_deltatime_password_changed.days }}</strong> days ago.
          </div>
          <div class="col security-value">
            <a href="{% url 'user-password' %}">Change now</a>
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col">Date joined:</div>
          <div class="col security-value">{{ user.date_joined|date:"Y-m-d H:i" }}</div>
        </div>

        <div class="mb-3 row">
          <div class="col">Last login:</div>
          <div class="col security-value">{{ user.last_login|date:"Y-m-d H:i" }}</div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main %}

{% block style %}
<style>
  .login-container {
    max-width: 40rem;
  }

  .profile-avatar-img {
    width: 10rem;
    height: 10rem;
  }

  .security-value {
    max-width: 12rem;
  }
</style>
{% endblock style %}

{% block script %}
<script>
  const avatarFileEl = document.querySelector('#avatarFile')
  const avatarProfileEl = document.querySelector('#avatarProfile')

  avatarFileEl.addEventListener('change', () => {
    const file = avatarFileEl.files[0]

    if (file) {
      avatarProfileEl.src = URL.createObjectURL(file)
    }
  })
</script>
{% endblock script %}
