{% extends "base.html" %}

{% load static %}

{% block title %}
Login
{% endblock title %}

{% block main %}
<div class="login-container container border rounded bg-ter px-4 py-5 bg-body shadow">
  <div class="text-center mb-5">
    <img class="logo-img rounded-circle border" src="{% static 'favicon/favicon.svg' %}">
  </div>

  <form method="post">
    {% csrf_token %}

    <div class="form-floating mb-3">
      <input type="email" name="email" class="form-control" placeholder="" required id="emailInput"
        value="{{ form.email.value|default_if_none:'' }}">
      <label for="emailInput">
        <i class="fa-solid fa-envelope me-1"></i> Email
      </label>
      {% include 'components/field_error.html' with current_form=form field_name='email' %}
    </div>

    <div class="form-floating mb-4">
      <input type="password" name="password" class="form-control" id="password" placeholder="" required
        value="{{ form.password.value|default_if_none:'' }}">
      <label for="password">
        <i class="fa-solid fa-key me-1"></i> Password
      </label>
      {% include 'components/field_error.html' with current_form=form field_name='password' %}
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
{% endblock main %}

{% block style %}
<style>
  .login-container {
    max-width: 25rem;
  }

  .logo-img {
    max-width: 10rem;
  }
</style>
{% endblock style %}

{% block script %}
<script>
</script>
{% endblock script %}
