{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PQD-DjAuth | {% block title %}{% endblock title %}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}" />
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
  <meta name="apple-mobile-web-app-title" content="PQD-DjAuth" />
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />

  <!-- Bootstrap -->
  <link href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Fontawesome -->
  <link href="{% static 'fontawesome-free-6.7.2-web/css/all.min.css' %}" rel="stylesheet" />

  <!-- Base style -->
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">

  <!-- Style -->
  {% block style %}{% endblock style %}
</head>

<body class="bg-body-tertiary">
  <!-- Navbar -->
  {% block navbar %}{% endblock navbar %}

  <main class="my-4">{% block main %}{% endblock main %}</main>

  <!-- Toasts -->
  {% include 'components/toasts.html' %}
</body>

<!-- Base script -->
<script src="{% static 'base/js/script.js' %}"></script>

<!-- Script -->
{% block script %}{% endblock script %}

</html>
